<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>My Website -About</title>
    </head>
    <body>
        <h1>Damelia Coleman</h1>
        <p>My primary dream was to become a neurosurgeon, however, I chose to attain a career in Computer Science instead. <br>I love watching TV and analysing cartoons and the possibilites of inventing technologies displayed in the cartoons.<br>I am very much a picky eater so my taste buds are hard to please.</p>
    </body>
</html>