<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>My Website -About</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}" />
    </head>
    <body>
        <h1>Damelia Coleman</h1>
        <p>My primary dream was to become a neurosurgeon, however, I chose to attain a career in Computer Science instead. <br><br>I love watching TV and analysing cartoons and the possibilites of inventing technologies displayed in the cartoons.<br><br>I am very much a picky eater so my taste buds are hard to please.</p>
        <img src="{{url_for('static', filename ='IMG_0373.png')}}" alt="A mental health quote"/>
    </body>
</html>